body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    height: 60vh; /* Altura del 100% de la ventana del navegador */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; 
}


.top-bar {
  height: 50px;
  background-color: #003770;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-weight: bold;
  padding-left: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.reservation-box {
  width: 300px;
  padding: 20px;
  border: 1px solid #000;
  margin-top: 550px;
}

.reservation-box {
  padding: 20px;
  border: 1px solid #000;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btnres{
  
  margin-top: 80px;

  background-color: #003770;
  display: grid;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  color: white;
  font-weight: 700;
  
}