body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*-----------------botones-------------------------------*/

/*---------------------------------*/
.solicitudes{
  
  padding: 2rem 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  
  box-sizing: border-box;
}

.solicitud{
  margin-top: 140px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;  
 
}

.solicitud:hover{
  border: 6px solid #08a05c55 ;
}

.solicitudimg img{
  width: 350px;
}
 .solicitud .buttom{
  width: 90%;
  height: 45px; 
  display:grid;
 }
 .buttom div{
  background-color: #003770;
  display: grid;
  text-align: center;
  align-items: center;
  border-radius: 5px;
 }
 .buttom div a{
  color: white;
  font-weight: 700;

 }
 .responder{
  background-color: #003770;
  display: grid;
  text-align: center;
  align-items: center;
  border-radius: 5px;
 }
 

/*----botones------*/

